*, :before, :after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role="list"], ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizespeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, :before, :after {
    scroll-behavior: auto !important;
    transition-duration: .01ms !important;
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
  }
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  white-space: nowrap !important;
  border: 0 !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  overflow: hidden !important;
}

.sr-only-focusable:focus, .sr-only-focusable:active {
  clip: auto !important;
  clip-path: none !important;
  height: auto !important;
  width: auto !important;
  white-space: normal !important;
  margin: auto !important;
  overflow: visible !important;
}

:root {
  --cream-400: #f2ebe3;
  --dark-cyan-400: #3c8067;
  --dark-cyan-700: #1a4031;
  --dark-blue-700: #1c232b;
  --dark-gold-400: #a47f3b;
  --dark-gold-700: #b19870;
  --dark-grayish-blue-700: #6c7289;
  --white: #fff;
  --black-2a: #0000000a;
  --ft-wt-500: 500;
  --ft-wt-700: 700;
  --ft-primary: "Montserrat", sans-serif;
  --ft-secondary: "Fraunces", serif;
  --ft-se-200: .75rem;
  --ft-se-380: .85rem;
  --ft-se-400: .875rem;
  --ft-se-700: 2rem;
  --br-rs-500: .4em;
  --br-rs-700: .8em;
  --gap-400: .5em;
  --gap-700: .9em;
  --gap-800: 1.3em;
  --pg-400: .5em;
  --pg-600: 1em;
  --pg-700: 1.9em;
  --pg-750: 2.2em;
  --pg-bk-700: 2em;
  --space-600: 2em;
  --mn-top-300: .3em;
  --mn-top-400: .5em;
  --le-ht-400: 1em;
  --le-ht-700: 1.8em;
  --lr-sg-400: .25em;
  --box-sw-400: 0 4px 4px var(--black-2a);
}

.page {
  background: var(--page_bd, var(--cream-400));
}

.product-card {
  background: var(--product-card_bd, var(--white));
  color: var(--product-card_cr, var(--dark-grayish-blue-700));
}

.product-card__title {
  color: var(--product-card__title_cr, var(--dark-blue-700));
}

.product-card__new-price {
  color: var(--product-card__price_cr, var(--dark-cyan-400));
}

.primary-btn {
  background: var(--primary-btn_bd, var(--dark-blue-700));
  color: var(--primary-btn_cr, var(--white));
}

.primary-btn_green {
  --primary-btn_bd: var(--dark-cyan-400);
}

.primary-btn_green:hover {
  --primary-btn_bd: var(--dark-cyan-700);
}

.attr {
  background: var(--attr_bd, var(--white));
}

.attr__desc {
  color: var(--attr_cr, var(--dark-blue-700));
}

.attr__link {
  color: var(--attr__link_cr, var(--dark-gold-700));
}

.attr__link:hover {
  --attr__link_cr: var(--dark-gold-400);
}

.page {
  grid-template-rows: 1fr auto;
  grid-template-areas: "main"
                       "footer";
  display: grid;
}

.page__main {
  grid-area: main;
}

.page__footer {
  grid-area: footer;
}

.main {
  display: grid;
}

.product-card {
  align-self: center;
}

.product-card__content {
  gap: var(--product-card__content_gap, var(--gap-700));
  display: grid;
}

@media (min-width: 48em) {
  :root {
    --product-card__content_gap: var(--gap-800);
  }
}

.product-card__price {
  align-items: center;
  gap: var(--product-card__price, var(--gap-800));
  display: flex;
}

.product-card__btn {
  align-items: center;
  gap: var(--product-card__btn_gap, var(--gap-700));
  justify-content: center;
  display: flex;
}

.attr {
  flex-direction: var(--attr_fx-dir, column);
  align-items: center;
  gap: var(--attr_gap, var(--gap-400));
  justify-content: center;
  display: flex;
}

@media (min-width: 36em) {
  :root {
    --attr_fx-dir: row;
  }
}

@media (min-width: 48em) {
  .product-card {
    display: flex;
  }
}

.page {
  font: var(--ft-se-400) var(--ft-primary);
}

.product-card__category-title {
  font-size: var(--product-card__category-title_ft-se, var(--ft-se-380));
  letter-spacing: var(--product-card__category-title_lr-sg, var(--lr-sg-400));
}

.product-card__title {
  font-family: var(--product-card__title_ft-fy, var(--ft-secondary));
  font-size: var(--product-card__title_ft-se, var(--ft-se-700));
  line-height: var(--product-card__title_le-ht, var(--le-ht-400));
}

.product-card__desc {
  line-height: var(--product-card__desc_le-ht, var(--le-ht-700));
}

.product-card__new-price {
  font-family: var(--product-card__new-price_ft-fy, var(--ft-secondary));
  font-size: var(--product-card__new-price_ft-se, var(--ft-se-700));
}

.primary-btn {
  font-weight: var(--primary-btn_ft-wt, var(--ft-wt-700));
}

.attr {
  font-size: var(--attr_ft-se, var(--ft-se-200));
}

.page {
  min-height: 100vh;
}

.main {
  padding-block: var(--main_pg-bk, var(--pg-bk-700));
}

.product-card {
  border-radius: var(--product-card__br-rs, var(--br-rs-700));
  box-shadow: var(--product-card_box-sw, var(--box-sw-400));
  max-width: var(--product-card_max-wh, 25em);
  width: calc(100% - var(--space-600));
  margin-inline: auto;
  overflow: hidden;
}

.product-card__img {
  height: auto;
}

.product-card__content {
  padding: var(--product-card__content_pg, var(--pg-700));
}

.product-card__price {
  margin-top: var(--product-card__price_mn-top, var(--mn-top-400));
}

.product-card__btn {
  margin-top: var(--product-card__btn_mn-top, var(--mn-top-300));
  width: 100%;
}

.primary-btn {
  --this_pg: var(--pg-600) var(--pg-700);
  border-radius: var(--primary-btn_br, var(--br-rs-500));
  cursor: pointer;
  padding: var(--primary-btn_pg, var(--this_pg));
  border: none;
}

.attr {
  padding: var(--attr_pg, var(--pg-600));
}

del:before, del:after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  white-space: nowrap;
  width: 1px;
  position: absolute;
  overflow: hidden;
}

del:before {
  content: " [deletion start] ";
}

del:after {
  content: " [deletion end] ";
}

@media (min-width: 48em) {
  :root {
    --product-card__btn_mn-top: var(--mn-top-400);
    --product-card__content_pg: var(--pg-750);
    --product-card_max-wh: 43em;
  }

  .product-card__img-box {
    width: 180%;
  }

  .product-card__desc {
    margin-top: var(--mn-top-400);
  }
}

/*# sourceMappingURL=index-t.07fedde6.css.map */
